{% extends 'base.html' %}

{% block head %}
<title>Weather</title>
{% endblock %}

{% block body %}
<div  class ="content">
    <h1 style="text-align: center">Weather</h1>
    <h4 style="text-align: center">Chose your location</h4>
    <form method="POST">
        <div class="form-group">
                <input type="text" class="from-control" name="city" placeholder="city">  
        </div>
        <div class="form-group">
            <input type="text" class="from-control" name="country" placeholder="country">  
        </div>
        <div class="form-group">
            <button  class="bottone">Get Weather</button>
        </div>
    </form>
</div>
{% endblock %}